In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'test':[1,2,3,4],'test2':[5,6,7,8]},index=['a','b','c','d'])

   test  test2
a     1      5
b     2      6
c     3      7
d     4      8

In [3]:
pd.DataFrame({'Apples':[35,41],'Banans':[21,34]},index=['2017 Sales','2018 Sales'])

            Apples  Banans
2017 Sales      35      21
2018 Sales      41      34

In [4]:
pd.Series(['4 cups','1 cup','2 large','1 can'],index=['Flour','Milk','Eggs','Spam'],name='Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object